  header {
    font-size: 50px;
    text-align: center;
    padding: 20px;
  }
  body {
    background: url("../images/halloween.jpg");
    -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;	
  }
  
  .jumbotron {
      padding: 0.5em 0.6em;
      margin: 1.0em 0.0em 1.0em 0.0em;
      opacity: 0.7;
  }

  #mainpic{
    margin-left: 150px;
    height:200px;
    width: 800px;
  }
  
  #choose {
    font-size: 2em;
      color:orange;
  }
  
  .character-image {
    display: inline-block;
      height: 145px;
    padding: 0px 20px 0px 20px;
    margin: 0px 2px 0px 2px;
    background-color: black;
    border: solid;
    border-color: orange;
    color: orange;
    margin-left: 25px;
  }
  
  .character-image p {
    text-align: center;
    margin: 0px 2px 0px 2px;
  }
  
  #chosen-character {
    height: 190px;
  }
  
  #chosen-character h2 {
    font-size: 2em;
      color: orange;
  }
  
  .chosen-character {
    border-color: orange;
    background-color: purple;
  }
  
  #enemies-available h2 {
    font-size: 2em;
      color: orange;
  }
  
  .enemy-character {
    border-color: #f80713;
    background-color: black;
    margin: 0px 2px 0px 2px;
  }
  
  #fight-section h2 {
    font-size: 2em;
      color: orange;
  }
  
  #defender-section {
    height: 210px;
  }
  
  #defender-section h2 {
    font-size: 2em;
      color: orange;
  }
  
  .defender-character {
    border-color: red;
    background-color: black;
  }
  
  #game-message {
    font-size: 1.5em;
    font-weight: bold;
      color: 	#f0dd48;
  }

  #restart{
    background-color: orange;
  }

  #attack{
    background-color: orange;
  }